@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Base Theme */
@layer base {
  :root {
    --background: 160 20% 97%;
    --foreground: 160 28% 14%;
    --primary: 191 91% 37%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 160 20% 6%;
    --foreground: 160 10% 95%;
    --primary: 191 91% 37%;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}